{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% load slide_template_tags %}
{% block content %}
<style>
	/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelpromotion::before,
.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: white;
  color: #000;
  content: 'Sale';
}

.block2-labelnew::before {
  background-color: #007bff;
  content: 'New';
}

.block2-labelpromotion::before{
	background-color: #000;
	content: 'Promotion';
	width: 70px;
  }

  .btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-outline-dark {
    color: #000;
    border-color: #000;
}


</style>
    <!-- Slide1 -->
    <section>
        <div class="pos-relative">
            <img src="https://storage.pixteller.com/designs/designs-images/2020-12-21/05/laptop-new-arrival-sales-banner-1-5fe0c47813869.png"  alt="IMG-BANNER" class="ban_img">
            
            <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br>
                    <div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">    
            </div>

            </div>
        </div>
    </section>

    <section style="background-color: darkgray;">
		<div class="">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15" style="padding: 3%;">
					<div class="pos-relative" >
						<img src="	https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/27357283304265.5d3840b368e45.jpg" alt="IMG-BANNER" class="ban_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<span class="m-text9 p-t-45 fs-20-sm">
								Bold, Brights Looks
							</span>

							<br>
								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/category/phone/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Phones
							</a>
						</div>

						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative" style="padding-top: 30%; padding-left: 10%;">
						<h1 style="color: white;">
                            Discover Incredible Savings on the Latest Smartphones – Your Dream Phone is Just a Click Away!
                        </h1>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section style="background-color: antiquewhite;">
		<div class="">
			<div class="row">
                <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative" style="padding-top: 30%; padding-left: 10%;">
						<h1 style="color: black;">
                            Unlock Unmatched Savings on Top-Rated Laptops – Elevate Your Productivity and Entertainment Today!
                        </h1>
					</div>
				</div>
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15" style="padding: 3%;">
					<div class="pos-relative" >
						<img src="https://thumbs.dreamstime.com/b/sale-23424352.jpg" alt="IMG-BANNER" class="ban_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<span class="m-text9 p-t-45 fs-20-sm">
								Bold, Brights Looks
							</span>

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/category/laptop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Laptops
							</a>
						</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<style>
		.newproduct {
			background: #fff;
			padding-top: 45px;
			padding-bottom: 105px;
		}
		.sec-title {
			padding-bottom: 60px;
		}
		.m-text5 {
			font-size: 24px;
			text-align: center;
		}
		.wrap-slick2 {
			margin: 0 auto;
			max-width: 1200px;
		}
		.slick2 .item-slick2 {
			padding-left: 15px;
			padding-right: 15px;
		}
		.block2 {
			background: #f7f7f7;
			border: 1px solid #ebebeb;
			padding: 10px;
			text-align: center;
		}
		.block2-img {
			position: relative;
			overflow: hidden;
		}
		.block2-img img {
			height: 370px;
			width: 100%;
			object-fit: cover;
		}
		.block2-txt {
			padding-top: 20px;
		}
		.block2-name {
			display: block;
			color: black;
			padding-bottom: 5px;
			font-size: 16px;
		}
		.block2-oldprice,
		.block2-price,
		.block2-newprice {
			color: black;
			margin-right: 5px;
		}
		.block2-oldprice {
			text-decoration: line-through;
		}
	</style>
    <section class="newproduct bgwhite p-t-45 p-b-105">
        <div class="container">
            <div class="sec-title p-b-60">
                <h3 class="m-text5 t-center">
                    Featured Products
                </h3>
            </div>

            <!-- Slide2 -->
				<div class="wrap-slick2">
					<div class="slick2">
						<!-- Example product item -->
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://xmobile.lk/wp-content/uploads/2023/09/Apple-iPhone-15-4.png" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Iphone 15
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://sumerlabs.com/sumer-app-90b8f.appspot.com/product_photos%2Fc694c8d35066c07d4b29662e5acf3078%2Fe1d836a0-c1b8-11ed-a619-6d01b9f4300b?alt=media&token=b2fdfb8f-4a46-439c-8826-30c6e28bab8a" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Iphone 14
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://9to5mac.com/wp-content/uploads/sites/6/2022/09/Apple-iPhone-14-Pro-iPhone-14-Pro-Max-space-black-220907_inline.jpg.medium_2x.jpg?quality=82&strip=all" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Iphone 14 pro
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://spaceboy.io/wp-content/uploads/2022/04/spigen-ultra-hybrid-acs04259-samsung-galaxy-a53-case-crystal-clear-01-1024x1024.jpg" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Samsung A 53
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://ee.co.uk/medias/samsung-galaxy-s24-ultra-5g-256gb-titanium-grey-desktop-detail-3-WebP-Format-488?context=bWFzdGVyfHJvb3R8Njc4NHxpbWFnZS93ZWJwfHN5cy1tYXN0ZXIvcm9vdC9oNTIvaDAwLzEwMTI1MTIwMDEyMzE4L3NhbXN1bmctZ2FsYXh5LXMyNC11bHRyYS01Zy0yNTZnYi10aXRhbml1bS1ncmV5LWRlc2t0b3AtZGV0YWlsLTNfV2ViUC1Gb3JtYXQtNDg4fDQ5Y2MzM2M2ZGRlNzFlOTMxMzE3OWFlNjFlZTVhYzQ2ZWEwZGZjZGE0YjUyOGYyMzc1MWI3NWQ5YzM5NTc2OGE" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Samsung S 24 ultra
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://assets2.razerzone.com/images/pnx.assets/5af9b83e1a46bac99f7ed80fd498390d/razer-blade-16-500x500.webp" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Rayser Laptop
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://assets2.razerzone.com/images/pnx.assets/5af9b83e1a46bac99f7ed80fd498390d/razer-blade-16-500x500.webp" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Product Title
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://assets2.razerzone.com/images/pnx.assets/5af9b83e1a46bac99f7ed80fd498390d/razer-blade-16-500x500.webp" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Product Title
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<div class="item-slick2 p-l-15 p-r-15">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label">
									<a href="#">
										<img src="https://celltronics.lk/wp-content/uploads/2023/10/Google-Pixel-8-Pro-2.jpg" alt="IMG-PRODUCT">
									</a>
								</div>
								<div class="block2-txt p-t-20">
									<a href="#" class="block2-name dis-block s-text3 p-b-5">
										Product Title
									</a>
									<span class="block2-oldprice m-text7 p-r-5">
										$99.99
									</span>
									<span class="block2-newprice m-text8 p-r-5">
										$79.99
									</span>
								</div>
							</div>
						</div>
						<!-- End Example product item -->
						<!-- Add more product items as needed -->
					</div>
                </div>
        </div>
    </section>

    <!--script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script-->
    <script>
        $(document).ready(function(){
            $('.slick2').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true,
                arrows: false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
	</section>
		<section>
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
			<style>
				body {
					font-family: Arial, sans-serif;
				}
				.newsletter-section {
					background: #f8f9fa;
					padding: 50px 20px;
					border-radius: 8px;
					margin: 20px 0;
					box-shadow: 0 4px 8px rgba(0,0,0,0.1);
				}
				.newsletter-section img {
					max-width: 100%;
					height: auto;
					border-radius: 8px;
				}
				.newsletter-form {
					max-width: 500px;
					margin: 0 auto;
				}
				.newsletter-form button {
					width: 100%;
				}
			</style>
		</section>
		<div style="background-color: antiquewhite;">
			<div class="container" style="padding: 2%;">
				<!-- Newsletter Signup Form -->
				<div class="newsletter-section mt-5" style="background-color: aquamarine;">
					<div class="row">
						<div class="col-md-6">
							<img src="https://www.sender.net/wp-content/uploads/2021/03/email_newsletter_signup_forms_on_website.png" alt="Newsletter Image">
						</div>
						<div class="col-md-6">
							<h2 class="mb-4">Signup for our Newsletter</h2>
							<form method="post" action="{% url 'core:home' %}" class="newsletter-form">
								{% csrf_token %}
								{{ form.as_p }}
								<button type="submit" class="btn btn-primary mt-2">Signup</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true" style="margin-top: 10cm;">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="successModalLabel">Newsletter Signup Successful</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Thank you for signing up! You have successfully subscribed to our newsletter.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- Bootstrap JS and dependencies -->
			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

			<!-- Custom JS to trigger modal -->
			<script type="text/javascript">
				$(document).ready(function() {
					{% if success %}
						$('#successModal').modal('show');
					{% endif %}
				});
			</script>
		</div>
	
	<!-- ------------------Banner2  start ------------------------>
	<style>
		.banner2{
			background-color: #fff;
			margin-right: 1rem;
			margin-left: 1rem;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}

		.ban_img{
			height: 680px;
			width: 100%;
		}
		.ban5_img{
			height: 580px;
			width: 100%;
		}

		.btn-light {
			color: #000;
			background-color: #fff;
			border-color: #fff;
			border-radius: 20px;
		}
		.wrap-btn-slide1 a:hover{
			background-color: whitesmoke;
			color: #000 !important;
			opacity: 0.7;
	
		}
	</style>
	
	<!-- ------------------Banner2  start ------------------------>
    <div>
        <div>
            <img src="https://static.vecteezy.com/system/resources/previews/002/294/859/original/flash-sale-web-banner-design-e-commerce-online-shopping-header-or-footer-banner-free-vector.jpg"  alt="IMG-BANNER" style="width: 100%;">
            
            <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br><br><br><br><br>

                <br>
                

                    <div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
            
                <a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
                    Shop Now
                </a>
            </div>

            </div>
        </div>
    </div>


	<!-- Shipping -->
	<section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Free Delivery Worldwide
				</h4>

				<a href="#" class="s-text11 t-center">
					Click here for more info
				</a>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					30 Days Return
				</h4>

				<span class="s-text11 t-center">
					Simply return it within 30 days for an exchange.
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Store Opening
				</h4>

				<span class="s-text11 t-center">
					Shop open from Monday to Sunday
				</span>
			</div>
		</div>
	</section>

	{% endblock content %}

</body>
	